@page
@model StartProject.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-2xl">Welcome to Micro frontend </h1>
    <h3 class="text-xl">I am your host ASP.Net Razor</h3>
</div>
