<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="nuget_org" value="http://dockerregistry.europe.phoenixcontact.com/repository/nuget-proxy" allowInsecureConnections="true" />
    <add key="git_go" value="https://git-go.europe.phoenixcontact.com/api/v4/groups/4410/-/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping> <!-- CPM enforces packageSourceMapping when more than one source is used. -->
    <clear />
    <packageSource key="nuget_org">
        <package pattern="*" />
    </packageSource>    
    <packageSource key="git_go">
        <package pattern="*" />
    </packageSource>    
    <packageSource key="moryx">
        <package pattern="*" />
    </packageSource>    
    <packageSource key="moryx_ci">
        <package pattern="*" />
    </packageSource>    
  </packageSourceMapping>
  <disabledPackageSources>
      <clear />

  </disabledPackageSources>
</configuration>