@page
@model ReactApplication.MyFeature.Pages.ReactModel

@{
    ViewData["Title"] = "React Application";
    ViewData["BaseRef"] = "React";

    Layout = "_Layout";
}

@section Scripts
{
  <script src="/_content/ReactApplication/bundle.js" type="module"></script>
}

<div id="root" 
</div>
