@page
@using Microsoft.AspNetCore.Authorization
@using Moryx.Asp.Integration
@using System.ComponentModel.DataAnnotations
@model ReactApplication.MyFeature.Pages.ReactModel

@{
    ViewData["Title"] = "React Application";
    ViewData["BaseRef"] = "React";

    Layout = "_Layout";
}

@attribute [WebModule("React", "calendar_month"),
  Display(Name = "React Title", Description = "Description is here"),
    AllowAnonymous]
    
@section Scripts
{
  <script src="/_content/ReactApplication/bundle.js" type="module"></script>
}

<div id="root" 
</div>
