<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Micro frontend</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StartProject.styles.css" asp-append-version="true" />
     @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="h-16 border-b border-gray-500 p-5">
            <ul class="flex flex-row items-center justify-center font-bold gap-5">
                <li>
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Host</a>
                </li>
                <li><a class="navbar-brand" asp-area="" asp-page="React">React frontend</a></li>
                <li><a class="navbar-brand" asp-area="" asp-page="Angular">Angular frontend</a>  </li>         
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Footer
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>